body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

img._bk_logo {
  width: 101px;
  height: 27px;
  margin: 0 34px 4px 0;
  object-fit: contain;
}

img.bk_line_menu {
  width: 40px; /* Kích thước tùy chỉnh cho icon menu */
  height: auto; /* Đảm bảo giữ tỉ lệ */
  margin: 0 10px; /* Khoảng cách giữa logo và menu */
}

.KR,
.EN {
  font-family: "Montserrat", sans-serif;
  font-size: 17.5px;
  font-weight: bold;
  margin: 0 5px; /* Khoảng cách giữa các chữ */
}

.KR {
  color: #42c0cc; /* Màu cho KR */
}

.EN {
  color: #222; /* Màu cho EN */
}
.header-background {
  background-image: url("./assets//images/main-bg-07.png");
}
